<div flex layout="column" layout-fill>

    <hyf-child-toolbar title="'About Hack Your Future'" parent-state="home"></hyf-child-toolbar>

    <md-content id="content" flex layout-margin>
        <div flex-offset-gt-sm="20" flex-gt-sm="60">
            <h3 class="md-headline">We teach refugees web-development in our 6-month program</h3>
            <p class="md-body-1">We teach our students front- and backend development for the web, making them full-stack developers as they finish our course.</p>
            <p class="md-body-1">We do this with our group of experienced developers who closely support our students in their process. Besides coding we train our students in project-management, becoming independent coders and teach them about the working culture in Dutch
                companies.
            </p>
            <p class="md-body-1">Visit us at <strong><a href="http://www.hackyourfuture.net/" target="_blank">Hack Your Future</a></strong>.</p>
        </div>
    </md-content>

</div>